<% provide(:title, "Help!") %> 
<h1>Help</h1>
<p>Pray to your maker for the answer... or</p>
<p>Randomly click on things till something happens, read a web comic and take a nap.</p>
<h3>Good luck!</h3>
